<div class="row">
    <div class="container d-flex justify-content-evenly align-items-center">
        <div id="logo" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="../../assets/logo.jpg" alt="logo" width="300px">
        </div>
        <div class="titulo text-center col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1>Centro de Comerciantes Avellaneda</h1>
            <h2>Bienvenidos a la página del Centro de Comerciantes de la Ciudad de Colonia Avellaneda</h2>
        </div>
        <div id="social" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h2 class="titulo text-center">Nuestras Redes</h2>
            <div>
                <a href=""><img src="../../assets/facebook.png" alt="facebook" width="50px"></a>
                <a href=""><img src="../../assets/instagram.png" alt="instagram" width="50px"></a>
                
            </div>
        </div>
    </div>
</div>